<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        
        <title>  </title>
        
	    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
    </head>

    <body>

        <div id="wrapper">
        
            <div id="body">
            
                <div id="gMenu">
                
                    <ul>
                    
                       <li><a href="#">Home</a></li>
                       <li><a href="mailto:eiffelqiu@gmail.com">Contact</a></li> 
                    
                    </ul>
                
                </div>
                
            
                <div id="media">
                    
     					<%= catch_content :for_layout %>
                
                </div>
                
                                
                <div id="links">
                
                <ul>

                    <li>
                        <a href="http://www.merbivore.com/" title="Merb!">Merb</a>
                    </li>
                    <li>
                        <a href="http://www.likenote.com/" title="Music Platform">Likenote</a>
                    </li>
                    
                </ul>
                    
                    <div id="footer">
            <p>&copy; likenote.com 2008</p>
            </div>
                    
                </div>
                
            
            </div>
            
            
        
        </div>
        

    </body>

</html>